@media screen and (max-width: 1199px) {
    .list-nav{
     display: none;
    }
   }
   @media screen and (min-width: 1200px) {
     .openbtn{
      display: none;
     }
    }
    @media screen and (max-width: 768px) {
        .openbtn{
            margin: 20px 0px;
        }
       }

     


